
@font-face {
    font-family: GiloryLight;

    src: url('../../assets/font/Gilroy-Light.ttf');
}

@font-face {
    font-family: GiloryMedium;

    src: url('../../assets/font/Gilroy-Medium.ttf');
}

@font-face {
    font-family: GiloryBold;

    src: url('../../assets/font/Gilroy-Bold.ttf');
}

@font-face {
    font-family: GiloryExtraBold;

    src: url('../../assets/font/Gilroy-ExtraBold.ttf');
}


body {
    font-family: GiloryLight !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color:  #F0F0F9 !important;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}